
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body{
    background-image:url(img/primeiro-cachorro.jpg);
    margin: auto;
    align-items: center;
    margin-left: 35%;
    font-family: 'Lobster', cursive;
}
.container{
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #141414ef;
    text-transform: none;
    text-decoration: 1px;
    margin: 0 auto;
    display: flex;
    border: 1px solid rgb(15, 180, 185); 
    margin: 20px;
    margin-left: 65px;
    justify-content:center;
    width: 300px;
    height:450px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: aqua;
    backdrop-filter:backdrop-filter drop-shadow(4px 4px 10px blue);
    padding: 20px;
}
img{
    margin: 0 auto;
    width: 150px;
    margin-left: 100px;
    float: left;
}
form{
    backdrop-filter: drop-shadow(4px 4px 10px blue);
}
aside{
    float:right;
    margin-top: 10px;
    margin-right: 250px;
    justify-content: center;

}
h2{
    margin-right: 60px;
    color: white;
    font: 50px;
    font-style: oblique;
    text-decoration: none;
    text-shadow: solid aquamarine 1px,1px 5px;
    
    
}
h1{
color:aquamarine;
font-size: 80px;
text-shadow: 40px 40px 40px black;
font-family: 'Lobster', cursive;

}
p{
    color: aliceblue;
}
.logo{
    font-size: 50px;
    margin: 10px;
    justify-content: center;
    
}
hr{
    color: aliceblue;
    
}
.paragrafo{
    color: black;
}
button{
    width: 200px;
    margin-bottom: 15px;
    
}
.login{
    text-decoration: underline;
    color: black;
}
.login h2{
    color: blue;
}
